<!DOCTYPE html>
<html>
<head>
<style>
h1,th,td{
    font-size: 3em;
}
</style>
</head>
<body>
<h1>现在时间: {{time}}</h1>

<table border="1">
  <tr>
    <th>              </th>
    <th>创业板指(399006)</th>
  </tr>
  <tr>
    <td>现在{{date}}</td>
    <td>{{data}}</td>
  </tr>
  <tr>
    <td>20天前{{date_20}}</td>
    <td>{{data_20}}</td>
  </tr>
  <tr>
    <td>涨跌幅</td>
    <td>{{chg}} %</td>
  </tr>
</table>

<h1>此刻轮动信号为持有：{{signal}}。<br />
  仅供参考，最终信号以收盘时刻为准！ <br />
  关注微信订阅号：touzi-abc <br />
  交易时间内获取实时二八轮动信号 <br />
  注:历史数据回测,T+0(信号当天收盘前)进行切换,比T+1(第二天)收益更高.</h1>
</body>
</html>
